<!DOCTYPE html>
<html>
<head><title>Foydalanuvchi qo'shish</title></head>
<body>
    <h2>Yangi foydalanuvchi qo'shish</h2>
    <form action="/create-product" method="post" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*" required><br>
        <input type="text" name="title" placeholder="title" required><br>
        <input type="number" name="category_id" placeholder="Category" required><br>
        <input type="number" name="price" placeholder="Price" step="0.01" required><br>
        <input type="number" name="review" placeholder="Review"><br>
        <textarea name="text" placeholder="Mahsulot haqida izoh..." rows="5" cols="40"></textarea><br>
        <input type="number" name="quantity" placeholder="Quantity"><br>

        <button type="submit">Qo'shish</button>
    </form>
</body>
</html>